h1{
    color: rgb(165 162 218);
    text-align: center;
    font-size: xxx-large;
    margin-top: 350px;
}

body{
    background-image: url("https://t4.ftcdn.net/jpg/02/92/20/37/360_F_292203735_CSsyqyS6A4Z9Czd4Msf7qZEhoxjpzZl1.jpg");
    background-size: cover ;
}